<form action="/pelanggan/create" method="POST">
    <h2>Tambah Data Pelangan</h2>

    <input type="text" placeholder="Nama" name="nama"><br/>
    <input type="text" placeholder="Email" name="email"><br/>
    <input type="text" placeholder="Alamat" name="alamat"><br/>
    <input type="text" placeholder="Kota" name="kota"><br/>
    <input type="text" placeholder="Telepon" name="telepon"><br/>
    <input type="submit" value="Simpan" />
</form>